{% extends "oriyao/oriyao_base.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
<div class="scroll-progress primary-bg"></div>


<!-- Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="text-center">
                <div data-loader="spinner"></div>
                <p>Loading...</p>
            </div>
        </div>
    </div>
</div>

<div class="main-wrap">
    <!--Offcanvas sidebar-->
    <aside id="sidebar-wrapper" class="custom-scrollbar offcanvas-sidebar position-right">
        <button class="off-canvas-close"><i class="ti-close"></i></button>
        <div class="sidebar-inner">
            <!--Categories-->
            <div class="sidebar-widget widget_categories mb-50">
                <div class="widget-header position-relative mb-20">
                    <h5 class="widget-title mt-5">Categories</h5>
                </div>
                <div class="post-block-list post-module-1 post-module-5">
                    <ul>
                        <li class="cat-item cat-item-2"><a href="category.html">Beauty</a> (3)</li>
                        <li class="cat-item cat-item-3"><a href="category.html">Book</a> (6)</li>
                        <li class="cat-item cat-item-4"><a href="category.html">Design</a> (4)</li>
                        <li class="cat-item cat-item-5"><a href="category.html">Fashion</a> (3)</li>
                        <li class="cat-item cat-item-6"><a href="category.html">Lifestyle</a> (6)</li>
                        <li class="cat-item cat-item-7"><a href="category.html">Travel</a> (2)</li>
                    </ul>
                </div>
            </div>
            <div class="sidebar-widget widget-latest-posts mb-30">
                <div class="widget-header position-relative mb-30">
                    <h5 class="widget-title mt-5 mb-30">Fashion</h5>
                </div>
                <div class="post-block-list post-module-1 post-module-5">
                    <ul class="list-post">
                        <li class="mb-30">
                            <div class="d-flex">
                                <div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
                                    <a class="color-white" href="single.html">
                                        <img src="assets/imgs/thumbnail-1.jpg" alt="">
                                    </a>
                                </div>
                                <div class="post-content media-body">
                                    <h6 class="post-title mb-10 text-limit-2-row"><a href="single.html">Traveling Tends to Magnify All Human Emotions</a></h6>
                                    <div class="entry-meta meta-1 font-x-small color-grey">
                                        <span class="post-on">25 April</span>
                                        <span class="hit-count has-dot">26k Views</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="mb-30">
                            <div class="d-flex">
                                <div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
                                    <a class="color-white" href="single.html">
                                        <img src="assets/imgs/thumbnail-2.jpg" alt="">
                                    </a>
                                </div>
                                <div class="post-content media-body">
                                    <h6 class="post-title mb-10 text-limit-2-row"><a href="single.html">The Luxury Of Traveling With Yacht</a></h6>
                                    <div class="entry-meta meta-1 font-x-small color-grey mt-10">
                                        <span class="post-on">25 April</span>
                                        <span class="hit-count has-dot">37k Views</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="mb-30">
                            <div class="d-flex">
                                <div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
                                    <a class="color-white" href="single.html">
                                        <img src="assets/imgs/thumbnail-3.jpg" alt="">
                                    </a>
                                </div>
                                <div class="post-content media-body">
                                    <h6 class="post-title mb-10 text-limit-2-row"><a href="single.html">Last Minute Festive Packages From Superbreak</a></h6>
                                    <div class="entry-meta meta-1 font-x-small color-grey mt-10">
                                        <span class="post-on">25 April</span>
                                        <span class="hit-count has-dot">54k Views</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="mb-30">
                            <div class="d-flex">
                                <div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
                                    <a class="color-white" href="single.html">
                                        <img src="assets/imgs/thumbnail-4.jpg" alt="">
                                    </a>
                                </div>
                                <div class="post-content media-body">
                                    <h6 class="post-title mb-10 text-limit-2-row"><a href="single.html">Last Minute Festive Packages From Superbreak</a></h6>
                                    <div class="entry-meta meta-1 font-x-small color-grey mt-10">
                                        <span class="post-on">25 April</span>
                                        <span class="hit-count has-dot">54k Views</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="mb-30">
                            <div class="d-flex">
                                <div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
                                    <a class="color-white" href="single.html">
                                        <img src="assets/imgs/thumbnail-5.jpg" alt="">
                                    </a>
                                </div>
                                <div class="post-content media-body">
                                    <h6 class="post-title mb-10 text-limit-2-row"><a href="single.html">Last Minute Festive Packages From Superbreak</a></h6>
                                    <div class="entry-meta meta-1 font-x-small color-grey mt-10">
                                        <span class="post-on">25 April</span>
                                        <span class="hit-count has-dot">54k Views</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sidebar-widget widget-ads mb-30">
                <a href="assets/imgs/news-1.jpg" class="play-video" data-animate="zoomIn" data-duration="1.5s" data-delay="0.1s">
                    <img src="assets/imgs/ads-1.jpg" alt="">
                </a>
            </div>
        </div>
    </aside>
    {% include "oriyao/module/header_nav.html" %}

    <main class="position-relative">
        <!--Search Form-->
        <div class="main-search-form transition-02s">
            <div class="container">
                <div class="pt-50 pb-50 main-search-form-cover">
                    <div class="row mb-20">
                        <div class="col-12">
                            <form action="#" method="get" class="search-form position-relative">
                                <div class="search-form-icon"><i class="ti-search"></i></div>
                                <label>
                                    <input type="text" class="search_field" placeholder="Enter keywords for search..." value="" name="s">
                                </label>
                                <div class="search-switch">
                                    <ul class="list-inline">
                                        <li class="list-inline-item"><a href="#" class="active">Articles</a></li>
                                        <li class="list-inline-item"><a href="#">Authors</a></li>
                                    </ul>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 font-small suggested-area">
                            <p class="d-inline font-small suggested"><strong>Suggested:</strong></p>
                            <ul class="list-inline d-inline-block">
                                <li class="list-inline-item"><a href="#">Covid-19</a></li>
                                <li class="list-inline-item"><a href="#">Health</a></li>
                                <li class="list-inline-item"><a href="#">WFH</a></li>
                                <li class="list-inline-item"><a href="#">UltraNet</a></li>
                                <li class="list-inline-item"><a href="#">Hospital</a></li>
                                <li class="list-inline-item"><a href="#">Policies</a></li>
                                <li class="list-inline-item"><a href="#">Energy</a></li>
                                <li class="list-inline-item"><a href="#">Business</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--main content-->
        {% block main_content %}
        {% endblock %}
    </main>

    <footer>
        <!-- Footer Start-->
        <div class="footer-area fix pt-50 background11">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-lg-3 col-md-6 mb-lg-0 mb-30">
                        <div class="sidebar-widget widget-latest-posts mb-30">
                            <div class="widget-header position-relative mb-30">
                                <h5 class="widget-title mt-5 mb-30 color-white">World</h5>
                                <div class="letter-background">W</div>
                            </div>
                            <div class="post-block-list post-module-1 post-module-5">
                                <ul class="list-post">
                                    <li class="mb-30">
                                        <div class="d-flex">
                                            <div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
                                                <a class="color-white" href="single.html">
                                                    <img src="assets/imgs/thumbnail-1.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="post-content media-body">
                                                <h6 class="post-title mb-10 text-limit-2-row"><a class="color-white" href="single.html">Traveling Tends to Magnify All Human Emotions</a></h6>
                                                <div class="entry-meta meta-1 font-x-small color-grey">
                                                    <span class="post-on">25 April</span>
                                                    <span class="hit-count has-dot">26k Views</span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="mb-30">
                                        <div class="d-flex">
                                            <div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
                                                <a class="color-white" href="single.html">
                                                    <img src="assets/imgs/thumbnail-2.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="post-content media-body">
                                                <h6 class="post-title mb-10 text-limit-2-row"><a class="color-white" href="single.html">The Luxury Of Traveling With Yacht</a></h6>
                                                <div class="entry-meta meta-1 font-x-small color-grey mt-10">
                                                    <span class="post-on">25 April</span>
                                                    <span class="hit-count has-dot">37k Views</span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="mb-30">
                                        <div class="d-flex">
                                            <div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
                                                <a class="color-white" href="single.html">
                                                    <img src="assets/imgs/thumbnail-3.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="post-content media-body">
                                                <h6 class="post-title mb-10 text-limit-2-row"><a class="color-white" href="single.html">Last Minute Festive Packages From Superbreak</a></h6>
                                                <div class="entry-meta meta-1 font-x-small color-grey mt-10">
                                                    <span class="post-on">25 April</span>
                                                    <span class="hit-count has-dot">54k Views</span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-lg-0 mb-30">
                        <div class="sidebar-widget widget-latest-posts mb-30">
                            <div class="widget-header position-relative mb-30">
                                <h5 class="widget-title mt-5 mb-30 color-white">Must read</h5>
                                <div class="letter-background">M</div>
                            </div>
                            <div class="post-block-list post-module-1 post-module-5">
                                <ul class="list-post">
                                    <li class="mb-30">
                                        <div class="d-flex">
                                            <div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
                                                <a class="color-white" href="single.html">
                                                    <img src="assets/imgs/thumbnail-13.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="post-content media-body">
                                                <h6 class="post-title mb-10 text-limit-2-row"><a class="color-white" href="single.html">Traveling Tends to Magnify All Human Emotions</a></h6>
                                                <div class="entry-meta meta-1 font-x-small color-grey">
                                                    <span class="post-on">25 April</span>
                                                    <span class="hit-count has-dot">26k Views</span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="mb-30">
                                        <div class="d-flex">
                                            <div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
                                                <a class="color-white" href="single.html">
                                                    <img src="assets/imgs/thumbnail-5.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="post-content media-body">
                                                <h6 class="post-title mb-10 text-limit-2-row"><a class="color-white" href="single.html">The Luxury Of Traveling With Yacht</a></h6>
                                                <div class="entry-meta meta-1 font-x-small color-grey mt-10">
                                                    <span class="post-on">25 April</span>
                                                    <span class="hit-count has-dot">37k Views</span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="mb-30">
                                        <div class="d-flex">
                                            <div class="post-thumb d-flex mr-15 border-radius-5 img-hover-scale">
                                                <a class="color-white" href="single.html">
                                                    <img src="assets/imgs/thumbnail-11.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="post-content media-body">
                                                <h6 class="post-title mb-10 text-limit-2-row"><a class="color-white" href="single.html">Last Minute Festive Packages From Superbreak</a></h6>
                                                <div class="entry-meta meta-1 font-x-small color-grey mt-10">
                                                    <span class="post-on">25 April</span>
                                                    <span class="hit-count has-dot">54k Views</span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="sidebar-widget widget_categories mb-30">
                            <div class="widget-header position-relative mb-30">
                                <h5 class="widget-title mt-5 mb-30 color-white">Hot Topics</h5>
                                <div class="letter-background">H</div>
                            </div>
                            <div class="post-block-list post-module-1 post-module-5">
                                <ul class="float-left mr-30 font-medium">
                                    <li class="cat-item cat-item-2"><a href="#">Global Economy</a></li>
                                    <li class="cat-item cat-item-3"><a href="#">Environment</a></li>
                                    <li class="cat-item cat-item-4"><a href="#">Religion</a></li>
                                    <li class="cat-item cat-item-5"><a href="#">Fashion</a></li>
                                    <li class="cat-item cat-item-6"><a href="#">Terrorism</a></li>
                                    <li class="cat-item cat-item-7"><a href="#">Conflicts</a></li>
                                    <li class="cat-item cat-item-2"><a href="#">Scandals</a></li>
                                    <li class="cat-item cat-item-2"><a href="#">Executive</a></li>
                                    <li class="cat-item cat-item-2"><a href="#">Foreign policy</a></li>
                                </ul>
                                <ul class="float-left font-medium">
                                    <li class="cat-item cat-item-2"><a href="#">Healthy Living</a></li>
                                    <li class="cat-item cat-item-3"><a href="#">Medical Research</a></li>
                                    <li class="cat-item cat-item-4"><a href="#">Children’s Health</a></li>
                                    <li class="cat-item cat-item-5"><a href="#">Around the World</a></li>
                                    <li class="cat-item cat-item-6"><a href="#">Ad Choices</a></li>
                                    <li class="cat-item cat-item-7"><a href="#">Mental Health</a></li>
                                    <li class="cat-item cat-item-2"><a href="#">Media Relations</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="sidebar-widget widget_newsletter mb-30">
                            <div class="widget-header position-relative mb-30">
                                <h5 class="widget-title mt-5 mb-30 color-white">Newsletter</h5>
                                <div class="letter-background">N</div>
                            </div>
                            <div class="newsletter">
                                <p class="color-white">Heaven fruitful doesn't over les idays appear creeping</p>
                                <div class="footer-form">
                                    <div id="mc_embed_signup">
                                        <form target="_blank" action="#" method="get" class="subscribe_form relative mail_part">
                                            <input type="email" name="email" id="newsletter-form-email" placeholder="Email Address" class="placeholder hide-on-focus" onfocus="this.placeholder = ''" onblur="this.placeholder = ' Email Address '">
                                            <div class="form-icon">
                                                <button type="submit" name="submit" id="newsletter-submit" class="email_icon newsletter-submit button-contactForm">
                                                    <i class="ti-email color-white"></i>
                                                </button>
                                            </div>
                                            <div class="mt-10 info"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-widget widget_instagram">
                            <div class="widget-header position-relative mb-30">
                                <h5 class="widget-title mt-5 mb-30 color-white">Instagram</h5>
                            </div>
                            <div class="instagram-gellay">
                                <ul class="insta-feed">
                                    <li>
                                        <a href="assets/imgs/thumbnail-3.jpg" class="play-video" data-animate="zoomIn" data-duration="1.5s" data-delay="0.1s"><img class="border-radius-5" src="assets/imgs/thumbnail-12.jpg" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="assets/imgs/thumbnail-4.jpg" class="play-video" data-animate="zoomIn" data-duration="1.5s" data-delay="0.1s"><img class="border-radius-5" src="assets/imgs/thumbnail-9.jpg" alt=""></a>
                                    </li>
                                    <li>
                                        <a href="assets/imgs/thumbnail-5.jpg" class="play-video" data-animate="zoomIn" data-duration="1.5s" data-delay="0.1s"><img class="border-radius-5" src="assets/imgs/thumbnail-10.jpg" alt=""></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-bottom aera -->
        <div class="footer-bottom-area background11">
            <div class="container">
                <div class="footer-border pt-30 pb-30">
                    <div class="row d-flex align-items-center justify-content-between">
                        <div class="col-lg-6">
                            <div class="footer-copy-right">
                                <p class="font-medium">© 2020, UltraNews | All rights reserved | Design by <a href="http://www.bootstrapmb.com/" target="_blank">AliThemes</a></p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="footer-menu float-lg-right mt-lg-0 mt-3">
                                <ul class="font-medium">
                                    <li><a href="#">Terms of use</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
</div>
<!-- Main Wrap End-->

<div class="dark-mark"></div>
{% endblock %}